:root {
  --primary: #dddad5;
  --white-bg: #dddad5f2;
  --white: rgb(247, 240, 240);
  --grey: #b6afacf1;
  --dark-grey: #2B2B2B;
  --black: #181717;
 
  --primary-font:  'Quicksand', sans-serif;
  --heading-font: 'Gloock', serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


body {
  font-size: 2rem;
  font-family: var(--primary-font);
  line-height: 1.5;
  background-color: var(--white);
 
}

header{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: transparent;
  transition: all .2s;
}
header.sticky {
  
  position: sticky;
  top: 0;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.183) 0 4px 12px;
}

a, li {
color: var(--dark-grey);
text-decoration: none;
list-style: none;

}

h1, h2{
  font-family: var(--heading-font);
}
img {
  max-width: 100%;
  height: auto;
}

.container  {
  width: min(95%, 120rem);
  margin: 3rem auto;
}

.heading {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  color: var(--dark-grey);
  margin: 5rem 0;
  font-family: var(--heading-font);
}

.nav{
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
  z-index: 3;
}
.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: var(--black);
  border-radius: 2px;
  transition: all 0.3s;
}
.nav__menu-bar.active div:nth-of-type(1) {
  rotate: -40deg;
  transform: translate(-7px, 7px);
  width: 35px;
  
}
.nav__menu-bar.active div:nth-of-type(2) {
  opacity: 0;
  display: none;
}
.nav__menu-bar.active div:nth-of-type(3) {
  transform: rotate(40deg);
  width: 35px;
  
}
.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 70vw;
  row-gap: 24px;
  padding: 25vh 16px;
  right: -100vw;
  min-height: 100vh;
  background-color: var(--primary);
  opacity: 0.95;
  transition: all 0.3s;
}
.nav__menu-list.active{
  right: 0;
}

.nav__link{
  font-size: 1.8rem;
  position: relative;
  transition: all ease 0.5s;
}
.nav__link:hover{
  color: var(--black);
  
}
.nav__link.active {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list{
    position: unset;
    min-height: fit-content;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    column-gap: 4.6rem;
    background-color:unset
  }
  
  
  .nav__link::before{
    content: "";  
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 5px;
    transition: all 0.2s;
    background-color: var(--dark-grey);
  }

  .nav__link:hover::before
  {
    width: 100%;
  }
}