.header{
    position: absolute;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 95%;
}

.header__container img {
    height: 10rem;
    width: 10rem;
}

.header__container nav {
    display: flex;
    gap: 3rem;
   
}